{% extends 'layout.html.twig' %}

{% block content %}
    <h1>
        {{ pimcore_input('headline') }}
    </h1>
    <h2>
        {{ pimcore_input('subline') }}
    </h2>
    <p>
        {{ pimcore_wysiwyg('content') }}
    </p>
{% endblock %}
